/*Remove white border*/
.web-border {
    margin: 0px;
    }

/*Header FlexBox*/
.header {
    width: 100%;
    display: flex;
    padding: 0px;
    height: 110px;
    text-align: center;
    background: #0e0e0e;
    color: white;
    }

.img1{
    width: 196px;
    height: auto;
    display:block;
    }

.img2{
    width: 400px;
    height: auto;
    display: block;
    }

/*NavBar Looks*/
.navbar {
    width: 100%;
    font-size: 22px;
    height: 32px;
    background-color: black;
    font-family: 'Secular One', sans-serif;
    }
.navbar a {
    color: #ca0d0f;
    padding: 14px 60px;
    text-decoration: none;
    text-align: center;
    }
.navbar b {
    color: #dfbd24;
    padding: 14px 10px;
    text-decoration: none;
    text-align: center;
    }
.navbar c {
    color: #20bfc0;
    padding: 14px 60px;
    text-decoration: none;
    text-align: center;
    }
.navbar d {
    color: #6f11ae;
    padding: 14px 10px;
    text-decoration: none;
    text-align: center;
    }

/*NavBar Hover*/
.navbar a:hover {
    color: white;
    font-size: 20px;
    font-weight: var(--bold);
    }
.navbar b:hover {
    color: white;
    font-size: 20px;
    font-weight: var(--bold);
    }
.navbar c:hover {
    color: white;
    font-size: 20px;
    font-weight: var(--bold);
    }
.navbar d:hover {
    color: white;
    font-size: 20px;
    font-weight: var(--bold);
    }     

/*Body*/
.body {
    display: flex;
    padding: 0px;
    height: 600px;
    }
.img3{
    width:100%;
    height: auto;
    display: block;
    }

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }