*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alfa Slab One', cursive; 
}

*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    min-height: 100vh;
}

/*Header variables*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 40px;
    z-index: 100000;
}

header.sticky{
    padding: 5px 100px;
    background: #0e0e0e;
}


#logo1{
    width: 196px;
    height: auto;
    display:block;

}

header.logo1{
    display: block;
}

header .logo2{
    position: relative;
    width: 300px;
    height: auto;
    display: block;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li1 a:after{
    content: "";
    position: absolute;
    background-color: #ca0d0f;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    /*transition: 0.3s*/;
}
header ul li2 a:after{
    content: "";
    position: absolute;
    background-color: #dfbd24;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    /*transition: 0.3s*/;
}
header ul li3 a:after{
    content: "";
    position: absolute;
    background-color: #20bfc0;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    /*transition: 0.3s*/;
}
header ul li4 a:after{
    content: "";
    position: absolute;
    background-color: #6f11ae;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    /*transition: 0.3s*/;
}
header ul a{
    font-size: 20px;
    position: relative;
    margin: 0 25px;
    text-decoration: none;
    color: #fff;
}

/*Hover Effects and Animation*/
header ul li1 a:hover {
    color: #ca0d0f;
    font-weight: var(--bold);
    }
header ul li2 a:hover {
    color: #dfbd24;
    font-weight: var(--bold);
    }
header ul li3 a:hover {
    color: #20bfc0;
    font-weight: var(--bold);
    }
header ul li4 a:hover {
    color: #6f11ae;
    font-weight: var(--bold);
    }

header ul a:hover:after {
    width: 100%;
    }

/*Background Band Photo*/
.banner{
    position: 100px;
    width: 100%;
    height: 100vh;
    background: url(https://s1.ticketm.net/dam/a/c90/67a18d21-394f-4afe-84f9-15560d797c90_1652911_TABLET_LANDSCAPE_LARGE_16_9.jpg);
    background-size: cover;
}

header.sticky .logo,
header.sticky ul li a{
    color: #fff;
}

/* Band Member Names*/
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    font-family: 'Alfa Slab One', cursive;  
    color: white;
    font-size: 30px;
}

.hide{
    display: none;
}

section p1:hover + .hide{
    display: block;
    color: #ca0d0f;
    width: 400px;
    height:auto;
    }
section p2:hover + .hide{
    display: block;
    color: #dfbd24;
    width: 400px;
    height:auto;
    }
section p3:hover + .hide{
    display: block;
    color: #20bfc0;
    width: 400px;
    height:auto;
    }
section p4:hover + .hide{
    display: block;
    color: #6f11ae;
    width: 400px;
    height:auto;
    }